body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #4e7aa8; /* Change this to any shade of blue you like */
    color: white;
    padding: 10px 0;
    text-align: left;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    color: #ddd;
}

main {
    padding: 20px;
}

.file-list {
    list-style-type: none;
    padding: 0;
}

.file-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.file-list li:hover {
    background-color: #ddd;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.homecard {
    margin-bottom: 20px; /* Adjust as needed */
}