{% extends '_layouts/base.html' %} 
{% load static %} 
{% block content %}


<style>
    .homecard {
        margin-top: 20px;
    }
    .table td, .table th {
        text-align: center; /* Center the text */
        vertical-align: middle; /* Align the content to the middle vertically */
    }
</style>

<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<h1>Dashboard</h1>

<div class="homecard row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <img src="{% static 'images/pngegg.png' %}" alt="File Icon" width="50" height="50"> Lab Info
                </h5>

                <h5 class="card-title">
                    <p class="card-text">Currently available INSaFLU-TELEVIR</p>
                </h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>URL</th>
                            <th>Description</th>
                            <th>Version</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="http://192.168.40.15:8080/">http://192.168.40.15:8080/</a></td>
                            <td>Viral / Bacteria, Clinical Metagenomics</td>
                            <td>latest</td>
                        </tr>
                        <tr>
                            <td><a href="http://192.168.33.209:8080/">http://192.168.33.209:8080/</a></td>
                            <td>Viral / Bacteria, <strong>Deprec Notice</strong></td>
                            <td>latest</td>
                        </tr>
                        <tr>
                            <td><a href="http://192.168.40.21:8080/">http://192.168.40.21:8080/</a></td>
                            <td>Viral - Tests Only</td>
                            <td>Production</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="homecard row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <img src="{% static 'images/file_icon.png' %}" alt="File Icon" width="30" height="30"> Files
                </h5>
                <p class="card-text">Last File Scan: {{ last_file_update }}</p>
                <p class="card-text">Scan Root: {{ scan_root }}</p>
                <p class="card-text">Number of files in system: {{ files_in_system }}</p>
                <p class="card-text">Linked files: {{ linked_files }}</p>
                <p class="card-text">Unlinked files: {{ unlinked_files }}</p>
            </div>
        </div>
    </div>
</div>

<div class = "homecard row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <img src="{% static 'images/sample_icon.png' %}" alt="Sample Icon" width="30" height="30"> Samples
                </h5>
                <p class="card-text">Last Sample Upload: {{ last_sample_update }}</p>
                <p class="card-text">Number of samples in system: {{ samples_in_system }}</p>
                <p class="card-text">Linked samples: {{ linked_samples }}</p>
                <p class="card-text">Samples with missing files: {{ samples_missing_files }}</p>
                <p class="card-text">Samples without files: {{ samples_without_files }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}